<meta name="verify-v1" content="{{ site.validate.google }}"/>
<meta name="msvalidate.01" content="{{ site.validate.ms }}" />
<link rel="canonical" href="{{ site.siteURL }}{{ path }}"/>

<meta charset="utf-8"/>
<meta httpEquiv="x-ua-compatible" content="ie=edge"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="MobileOptimized" content="320"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta httpEquiv="cleartype" content="on"/>
<meta httpEquiv="Accept-CH" content="DPR, Viewport-Width, Width"/>

<title>{{ seo.title }}</title>
<meta name="description" content="{{ seo.description }}"/>
<meta name="author" content="Werner Glinka"/>
<meta name="generator" content="metalsmith"/>

{# Icons #}
{# generated at https://realfavicongenerator.net/favicon_result?file_id=p1ftthvcomq191neufes1ch51poc6#.YivO7hDMJqs #}
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
<link rel="manifest" href="/assets/icons/site.webmanifest">
<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

{# social tags #}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="{{ site.description }}"/>
<meta name="twitter:title" content="{{ site.title }}"/>
<meta name="twitter:description" content="{{ site.description }}"/>
<meta name="twitter:creator" content="{{ site.author }}"/>
<meta name="twitter:image" content="{{ seo.socialImage }}"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="{{ site.title }}"/>
<meta property="og:description" content="{{ site.description }}"/>
<meta property="og:url" content="{{ site.siteURL }}"/>
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:image" content="{{ seo.socialImage }}"/>
<meta property="og:updated_time" content=""}/>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet"  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap">
<!-- should be in root so Netlify CMS preview will work -->
<link rel="stylesheet" href="/assets/prism-styles.css">
<link rel="stylesheet" href="/assets/styles.css">